body {
  width: 100%;
  float: left;
}

.class1,
.class2,
.class3 {
  width: 33.33%;
  float: left;
  height: 100px;
}

p {
  padding-top: 25px;
  text-align: center;
  font-family: verdana;
  font-size: 20px;
}

h1 {
  text-align: center;
   font-family: verdana;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

h3 {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

h4 {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

h5 {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

h6 {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

ul {
  text-align: center;
  list-style-position: inside;
  font-family: sans-serif;
  color: white;

button {
  opacity: 1;
  border-radius: 4px;
  border-style: solid;
  border: 1px white;
  color: white;
  display: in-line block;
  text-align: center;
  margin: auto;
  display: flex;
  display: grid;
}
